/build/
*.pyc
/lib/xmlrpc-c/.svn/
/modem_engine_diagram.png
/lib/xmlrpc-c/config.log
/lib/xmlrpc-c/config.mk
/lib/xmlrpc-c/config.status
/lib/xmlrpc-c/include/xmlrpc-c/config.h
/lib/xmlrpc-c/lib/abyss/src/blddir
/lib/xmlrpc-c/lib/abyss/src/channel.o
/lib/xmlrpc-c/lib/abyss/src/channel.osh
/lib/xmlrpc-c/lib/abyss/src/chanswitch.o
/lib/xmlrpc-c/lib/abyss/src/chanswitch.osh
/lib/xmlrpc-c/lib/abyss/src/conf.o
/lib/xmlrpc-c/lib/abyss/src/conf.osh
/lib/xmlrpc-c/lib/abyss/src/conn.o
/lib/xmlrpc-c/lib/abyss/src/conn.osh
/lib/xmlrpc-c/lib/abyss/src/data.o
/lib/xmlrpc-c/lib/abyss/src/data.osh
/lib/xmlrpc-c/lib/abyss/src/date.o
/lib/xmlrpc-c/lib/abyss/src/date.osh
/lib/xmlrpc-c/lib/abyss/src/depend.mk
/lib/xmlrpc-c/lib/abyss/src/file.o
/lib/xmlrpc-c/lib/abyss/src/file.osh
/lib/xmlrpc-c/lib/abyss/src/handler.o
/lib/xmlrpc-c/lib/abyss/src/handler.osh
/lib/xmlrpc-c/lib/abyss/src/http.o
/lib/xmlrpc-c/lib/abyss/src/http.osh
/lib/xmlrpc-c/lib/abyss/src/init.o
/lib/xmlrpc-c/lib/abyss/src/init.osh
/lib/xmlrpc-c/lib/abyss/src/libxmlrpc_abyss.a
/lib/xmlrpc-c/lib/abyss/src/libxmlrpc_abyss.so
/lib/xmlrpc-c/lib/abyss/src/libxmlrpc_abyss.so.3
/lib/xmlrpc-c/lib/abyss/src/libxmlrpc_abyss.so.3.59
/lib/xmlrpc-c/lib/abyss/src/response.o
/lib/xmlrpc-c/lib/abyss/src/response.osh
/lib/xmlrpc-c/lib/abyss/src/server.o
/lib/xmlrpc-c/lib/abyss/src/server.osh
/lib/xmlrpc-c/lib/abyss/src/session.o
/lib/xmlrpc-c/lib/abyss/src/session.osh
/lib/xmlrpc-c/lib/abyss/src/sessionReadRequest.o
/lib/xmlrpc-c/lib/abyss/src/sessionReadRequest.osh
/lib/xmlrpc-c/lib/abyss/src/socket.o
/lib/xmlrpc-c/lib/abyss/src/socket.osh
/lib/xmlrpc-c/lib/abyss/src/socket_openssl.o
/lib/xmlrpc-c/lib/abyss/src/socket_openssl.osh
/lib/xmlrpc-c/lib/abyss/src/socket_unix.o
/lib/xmlrpc-c/lib/abyss/src/socket_unix.osh
/lib/xmlrpc-c/lib/abyss/src/sockutil.o
/lib/xmlrpc-c/lib/abyss/src/sockutil.osh
/lib/xmlrpc-c/lib/abyss/src/srcdir
/lib/xmlrpc-c/lib/abyss/src/thread_pthread.o
/lib/xmlrpc-c/lib/abyss/src/thread_pthread.osh
/lib/xmlrpc-c/lib/abyss/src/token.o
/lib/xmlrpc-c/lib/abyss/src/token.osh
/lib/xmlrpc-c/lib/abyss/src/trace.o
/lib/xmlrpc-c/lib/abyss/src/trace.osh
/lib/xmlrpc-c/lib/abyss/src/version.h
/lib/xmlrpc-c/lib/abyss/src/xmlrpc_abyss.pc
/lib/xmlrpc-c/lib/abyss++/AbyssChanSwitch.o
/lib/xmlrpc-c/lib/abyss++/AbyssChanSwitch.osh
/lib/xmlrpc-c/lib/abyss++/AbyssChanSwitchUnix.o
/lib/xmlrpc-c/lib/abyss++/AbyssChanSwitchUnix.osh
/lib/xmlrpc-c/lib/abyss++/AbyssEnvironment.o
/lib/xmlrpc-c/lib/abyss++/AbyssEnvironment.osh
/lib/xmlrpc-c/lib/abyss++/AbyssServer.o
/lib/xmlrpc-c/lib/abyss++/AbyssServer.osh
/lib/xmlrpc-c/lib/abyss++/blddir
/lib/xmlrpc-c/lib/abyss++/depend.mk
/lib/xmlrpc-c/lib/abyss++/libxmlrpc_abyss++.a
/lib/xmlrpc-c/lib/abyss++/libxmlrpc_abyss++.so
/lib/xmlrpc-c/lib/abyss++/libxmlrpc_abyss++.so.9
/lib/xmlrpc-c/lib/abyss++/libxmlrpc_abyss++.so.9.59
/lib/xmlrpc-c/lib/abyss++/srcdir
/lib/xmlrpc-c/lib/abyss++/xmlrpc_abyss++.pc
/lib/xmlrpc-c/lib/curl_transport/blddir
/lib/xmlrpc-c/lib/curl_transport/curlmulti.o
/lib/xmlrpc-c/lib/curl_transport/curlmulti.osh
/lib/xmlrpc-c/lib/curl_transport/curltransaction.o
/lib/xmlrpc-c/lib/curl_transport/curltransaction.osh
/lib/xmlrpc-c/lib/curl_transport/depend.mk
/lib/xmlrpc-c/lib/curl_transport/srcdir
/lib/xmlrpc-c/lib/curl_transport/version.h
/lib/xmlrpc-c/lib/curl_transport/xmlrpc_curl_transport.o
/lib/xmlrpc-c/lib/curl_transport/xmlrpc_curl_transport.osh
/lib/xmlrpc-c/lib/expat/gennmtab/depend.mk
/lib/xmlrpc-c/lib/expat/gennmtab/gennmtab
/lib/xmlrpc-c/lib/expat/gennmtab/gennmtab.o
/lib/xmlrpc-c/lib/expat/xmlparse/depend.mk
/lib/xmlrpc-c/lib/expat/xmlparse/libxmlrpc_xmlparse.a
/lib/xmlrpc-c/lib/expat/xmlparse/libxmlrpc_xmlparse.so
/lib/xmlrpc-c/lib/expat/xmlparse/libxmlrpc_xmlparse.so.3
/lib/xmlrpc-c/lib/expat/xmlparse/libxmlrpc_xmlparse.so.3.59
/lib/xmlrpc-c/lib/expat/xmlparse/srcdir
/lib/xmlrpc-c/lib/expat/xmlparse/xmlparse.o
/lib/xmlrpc-c/lib/expat/xmlparse/xmlparse.osh
/lib/xmlrpc-c/lib/expat/xmlrpc_expat.pc
/lib/xmlrpc-c/lib/expat/xmltok/blddir
/lib/xmlrpc-c/lib/expat/xmltok/depend.mk
/lib/xmlrpc-c/lib/expat/xmltok/libxmlrpc_xmltok.a
/lib/xmlrpc-c/lib/expat/xmltok/libxmlrpc_xmltok.so
/lib/xmlrpc-c/lib/expat/xmltok/libxmlrpc_xmltok.so.3
/lib/xmlrpc-c/lib/expat/xmltok/libxmlrpc_xmltok.so.3.59
/lib/xmlrpc-c/lib/expat/xmltok/nametab.h
/lib/xmlrpc-c/lib/expat/xmltok/srcdir
/lib/xmlrpc-c/lib/expat/xmltok/xmlrole.o
/lib/xmlrpc-c/lib/expat/xmltok/xmlrole.osh
/lib/xmlrpc-c/lib/expat/xmltok/xmltok.o
/lib/xmlrpc-c/lib/expat/xmltok/xmltok.osh
/lib/xmlrpc-c/lib/libutil/asprintf.o
/lib/xmlrpc-c/lib/libutil/asprintf.osh
/lib/xmlrpc-c/lib/libutil/base64.o
/lib/xmlrpc-c/lib/libutil/base64.osh
/lib/xmlrpc-c/lib/libutil/blddir
/lib/xmlrpc-c/lib/libutil/depend.mk
/lib/xmlrpc-c/lib/libutil/error.o
/lib/xmlrpc-c/lib/libutil/error.osh
/lib/xmlrpc-c/lib/libutil/libxmlrpc_util.a
/lib/xmlrpc-c/lib/libutil/libxmlrpc_util.so
/lib/xmlrpc-c/lib/libutil/libxmlrpc_util.so.4
/lib/xmlrpc-c/lib/libutil/libxmlrpc_util.so.4.59
/lib/xmlrpc-c/lib/libutil/lock_none.o
/lib/xmlrpc-c/lib/libutil/lock_none.osh
/lib/xmlrpc-c/lib/libutil/lock_platform.o
/lib/xmlrpc-c/lib/libutil/lock_platform.osh
/lib/xmlrpc-c/lib/libutil/lock_pthread.o
/lib/xmlrpc-c/lib/libutil/lock_pthread.osh
/lib/xmlrpc-c/lib/libutil/make_printable.o
/lib/xmlrpc-c/lib/libutil/make_printable.osh
/lib/xmlrpc-c/lib/libutil/memblock.o
/lib/xmlrpc-c/lib/libutil/memblock.osh
/lib/xmlrpc-c/lib/libutil/mempool.o
/lib/xmlrpc-c/lib/libutil/mempool.osh
/lib/xmlrpc-c/lib/libutil/select.o
/lib/xmlrpc-c/lib/libutil/select.osh
/lib/xmlrpc-c/lib/libutil/sleep.o
/lib/xmlrpc-c/lib/libutil/sleep.osh
/lib/xmlrpc-c/lib/libutil/srcdir
/lib/xmlrpc-c/lib/libutil/string_number.o
/lib/xmlrpc-c/lib/libutil/string_number.osh
/lib/xmlrpc-c/lib/libutil/time.o
/lib/xmlrpc-c/lib/libutil/time.osh
/lib/xmlrpc-c/lib/libutil/utf8.o
/lib/xmlrpc-c/lib/libutil/utf8.osh
/lib/xmlrpc-c/lib/libutil/xmlrpc_util.pc
/lib/xmlrpc-c/lib/libutil++/Lock.o
/lib/xmlrpc-c/lib/libutil++/Lock.osh
/lib/xmlrpc-c/lib/libutil++/base64.o
/lib/xmlrpc-c/lib/libutil++/base64.osh
/lib/xmlrpc-c/lib/libutil++/blddir
/lib/xmlrpc-c/lib/libutil++/depend.mk
/lib/xmlrpc-c/lib/libutil++/env_wrap.o
/lib/xmlrpc-c/lib/libutil++/env_wrap.osh
/lib/xmlrpc-c/lib/libutil++/girerr.o
/lib/xmlrpc-c/lib/libutil++/girerr.osh
/lib/xmlrpc-c/lib/libutil++/girmem.o
/lib/xmlrpc-c/lib/libutil++/girmem.osh
/lib/xmlrpc-c/lib/libutil++/libxmlrpc_util++.a
/lib/xmlrpc-c/lib/libutil++/libxmlrpc_util++.so
/lib/xmlrpc-c/lib/libutil++/libxmlrpc_util++.so.9
/lib/xmlrpc-c/lib/libutil++/libxmlrpc_util++.so.9.59
/lib/xmlrpc-c/lib/libutil++/srcdir
/lib/xmlrpc-c/lib/libutil++/xmlrpc_util++.pc
/lib/xmlrpc-c/lib/util/blddir
/lib/xmlrpc-c/lib/util/casprintf.o
/lib/xmlrpc-c/lib/util/cmdline_parser.o
/lib/xmlrpc-c/lib/util/cmdline_parser_cpp.o
/lib/xmlrpc-c/lib/util/depend.mk
/lib/xmlrpc-c/lib/util/getoptx.o
/lib/xmlrpc-c/lib/util/srcdir
/lib/xmlrpc-c/lib/util/string_parser.o
/lib/xmlrpc-c/lib/util/stripcaseeq.o
/lib/xmlrpc-c/shell_config
/lib/xmlrpc-c/src/abyss_handler.o
/lib/xmlrpc-c/src/abyss_handler.osh
/lib/xmlrpc-c/src/base_global.o
/lib/xmlrpc-c/src/base_global.osh
/lib/xmlrpc-c/src/blddir
/lib/xmlrpc-c/src/cpp/XmlRpcCpp.o
/lib/xmlrpc-c/src/cpp/XmlRpcCpp.osh
/lib/xmlrpc-c/src/cpp/abyss_reqhandler_xmlrpc.o
/lib/xmlrpc-c/src/cpp/abyss_reqhandler_xmlrpc.osh
/lib/xmlrpc-c/src/cpp/blddir
/lib/xmlrpc-c/src/cpp/client.o
/lib/xmlrpc-c/src/cpp/client.osh
/lib/xmlrpc-c/src/cpp/client_simple.o
/lib/xmlrpc-c/src/cpp/client_simple.osh
/lib/xmlrpc-c/src/cpp/curl.o
/lib/xmlrpc-c/src/cpp/curl.osh
/lib/xmlrpc-c/src/cpp/depend.mk
/lib/xmlrpc-c/src/cpp/fault.o
/lib/xmlrpc-c/src/cpp/fault.osh
/lib/xmlrpc-c/src/cpp/global.o
/lib/xmlrpc-c/src/cpp/global.osh
/lib/xmlrpc-c/src/cpp/libwww.o
/lib/xmlrpc-c/src/cpp/libwww.osh
/lib/xmlrpc-c/src/cpp/libxmlrpc++.a
/lib/xmlrpc-c/src/cpp/libxmlrpc++.so
/lib/xmlrpc-c/src/cpp/libxmlrpc++.so.9
/lib/xmlrpc-c/src/cpp/libxmlrpc++.so.9.59
/lib/xmlrpc-c/src/cpp/libxmlrpc_client++.a
/lib/xmlrpc-c/src/cpp/libxmlrpc_client++.so
/lib/xmlrpc-c/src/cpp/libxmlrpc_client++.so.9
/lib/xmlrpc-c/src/cpp/libxmlrpc_client++.so.9.59
/lib/xmlrpc-c/src/cpp/libxmlrpc_cpp.a
/lib/xmlrpc-c/src/cpp/libxmlrpc_cpp.so
/lib/xmlrpc-c/src/cpp/libxmlrpc_cpp.so.9
/lib/xmlrpc-c/src/cpp/libxmlrpc_cpp.so.9.59
/lib/xmlrpc-c/src/cpp/libxmlrpc_packetsocket.a
/lib/xmlrpc-c/src/cpp/libxmlrpc_packetsocket.so
/lib/xmlrpc-c/src/cpp/libxmlrpc_packetsocket.so.9
/lib/xmlrpc-c/src/cpp/libxmlrpc_packetsocket.so.9.59
/lib/xmlrpc-c/src/cpp/libxmlrpc_server++.a
/lib/xmlrpc-c/src/cpp/libxmlrpc_server++.so
/lib/xmlrpc-c/src/cpp/libxmlrpc_server++.so.9
/lib/xmlrpc-c/src/cpp/libxmlrpc_server++.so.9.59
/lib/xmlrpc-c/src/cpp/libxmlrpc_server_abyss++.a
/lib/xmlrpc-c/src/cpp/libxmlrpc_server_abyss++.so
/lib/xmlrpc-c/src/cpp/libxmlrpc_server_abyss++.so.9
/lib/xmlrpc-c/src/cpp/libxmlrpc_server_abyss++.so.9.59
/lib/xmlrpc-c/src/cpp/libxmlrpc_server_cgi++.a
/lib/xmlrpc-c/src/cpp/libxmlrpc_server_cgi++.so
/lib/xmlrpc-c/src/cpp/libxmlrpc_server_cgi++.so.9
/lib/xmlrpc-c/src/cpp/libxmlrpc_server_cgi++.so.9.59
/lib/xmlrpc-c/src/cpp/libxmlrpc_server_pstream++.a
/lib/xmlrpc-c/src/cpp/libxmlrpc_server_pstream++.so
/lib/xmlrpc-c/src/cpp/libxmlrpc_server_pstream++.so.9
/lib/xmlrpc-c/src/cpp/libxmlrpc_server_pstream++.so.9.59
/lib/xmlrpc-c/src/cpp/outcome.o
/lib/xmlrpc-c/src/cpp/outcome.osh
/lib/xmlrpc-c/src/cpp/packetsocket.o
/lib/xmlrpc-c/src/cpp/packetsocket.osh
/lib/xmlrpc-c/src/cpp/param_list.o
/lib/xmlrpc-c/src/cpp/param_list.osh
/lib/xmlrpc-c/src/cpp/pstream.o
/lib/xmlrpc-c/src/cpp/pstream.osh
/lib/xmlrpc-c/src/cpp/registry.o
/lib/xmlrpc-c/src/cpp/registry.osh
/lib/xmlrpc-c/src/cpp/server_abyss.o
/lib/xmlrpc-c/src/cpp/server_abyss.osh
/lib/xmlrpc-c/src/cpp/server_cgi.o
/lib/xmlrpc-c/src/cpp/server_cgi.osh
/lib/xmlrpc-c/src/cpp/server_pstream.o
/lib/xmlrpc-c/src/cpp/server_pstream.osh
/lib/xmlrpc-c/src/cpp/server_pstream_conn.o
/lib/xmlrpc-c/src/cpp/server_pstream_conn.osh
/lib/xmlrpc-c/src/cpp/srcdir
/lib/xmlrpc-c/src/cpp/value.o
/lib/xmlrpc-c/src/cpp/value.osh
/lib/xmlrpc-c/src/cpp/wininet.o
/lib/xmlrpc-c/src/cpp/wininet.osh
/lib/xmlrpc-c/src/cpp/xml.o
/lib/xmlrpc-c/src/cpp/xml.osh
/lib/xmlrpc-c/src/cpp/xmlrpc++.pc
/lib/xmlrpc-c/src/cpp/xmlrpc_client++.pc
/lib/xmlrpc-c/src/cpp/xmlrpc_server++.pc
/lib/xmlrpc-c/src/cpp/xmlrpc_server_pstream++.pc
/lib/xmlrpc-c/src/depend.mk
/lib/xmlrpc-c/src/double.o
/lib/xmlrpc-c/src/double.osh
/lib/xmlrpc-c/src/json.o
/lib/xmlrpc-c/src/json.osh
/lib/xmlrpc-c/src/libxmlrpc.a
/lib/xmlrpc-c/src/libxmlrpc.so
/lib/xmlrpc-c/src/libxmlrpc.so.3
/lib/xmlrpc-c/src/libxmlrpc.so.3.59
/lib/xmlrpc-c/src/libxmlrpc_client.a
/lib/xmlrpc-c/src/libxmlrpc_client.cflags
/lib/xmlrpc-c/src/libxmlrpc_client.ldflags
/lib/xmlrpc-c/src/libxmlrpc_client.so
/lib/xmlrpc-c/src/libxmlrpc_client.so.3
/lib/xmlrpc-c/src/libxmlrpc_client.so.3.59
/lib/xmlrpc-c/src/libxmlrpc_server.a
/lib/xmlrpc-c/src/libxmlrpc_server.so
/lib/xmlrpc-c/src/libxmlrpc_server.so.3
/lib/xmlrpc-c/src/libxmlrpc_server.so.3.59
/lib/xmlrpc-c/src/libxmlrpc_server_abyss.a
/lib/xmlrpc-c/src/libxmlrpc_server_abyss.so
/lib/xmlrpc-c/src/libxmlrpc_server_abyss.so.3
/lib/xmlrpc-c/src/libxmlrpc_server_abyss.so.3.59
/lib/xmlrpc-c/src/libxmlrpc_server_cgi.a
/lib/xmlrpc-c/src/libxmlrpc_server_cgi.so
/lib/xmlrpc-c/src/libxmlrpc_server_cgi.so.3
/lib/xmlrpc-c/src/libxmlrpc_server_cgi.so.3.59
/lib/xmlrpc-c/src/method.o
/lib/xmlrpc-c/src/method.osh
/lib/xmlrpc-c/src/parse_datetime.o
/lib/xmlrpc-c/src/parse_datetime.osh
/lib/xmlrpc-c/src/parse_value.o
/lib/xmlrpc-c/src/parse_value.osh
/lib/xmlrpc-c/src/registry.o
/lib/xmlrpc-c/src/registry.osh
/lib/xmlrpc-c/src/resource.o
/lib/xmlrpc-c/src/resource.osh
/lib/xmlrpc-c/src/srcdir
/lib/xmlrpc-c/src/system_method.o
/lib/xmlrpc-c/src/system_method.osh
/lib/xmlrpc-c/src/trace.o
/lib/xmlrpc-c/src/trace.osh
/lib/xmlrpc-c/src/version.o
/lib/xmlrpc-c/src/version.osh
/lib/xmlrpc-c/src/xmlrpc.pc
/lib/xmlrpc-c/src/xmlrpc_array.o
/lib/xmlrpc-c/src/xmlrpc_array.osh
/lib/xmlrpc-c/src/xmlrpc_authcookie.o
/lib/xmlrpc-c/src/xmlrpc_authcookie.osh
/lib/xmlrpc-c/src/xmlrpc_build.o
/lib/xmlrpc-c/src/xmlrpc_build.osh
/lib/xmlrpc-c/src/xmlrpc_client.o
/lib/xmlrpc-c/src/xmlrpc_client.osh
/lib/xmlrpc-c/src/xmlrpc_client.pc
/lib/xmlrpc-c/src/xmlrpc_client_global.o
/lib/xmlrpc-c/src/xmlrpc_client_global.osh
/lib/xmlrpc-c/src/xmlrpc_data.o
/lib/xmlrpc-c/src/xmlrpc_data.osh
/lib/xmlrpc-c/src/xmlrpc_datetime.o
/lib/xmlrpc-c/src/xmlrpc_datetime.osh
/lib/xmlrpc-c/src/xmlrpc_decompose.o
/lib/xmlrpc-c/src/xmlrpc_decompose.osh
/lib/xmlrpc-c/src/xmlrpc_expat.o
/lib/xmlrpc-c/src/xmlrpc_expat.osh
/lib/xmlrpc-c/src/xmlrpc_parse.o
/lib/xmlrpc-c/src/xmlrpc_parse.osh
/lib/xmlrpc-c/src/xmlrpc_serialize.o
/lib/xmlrpc-c/src/xmlrpc_serialize.osh
/lib/xmlrpc-c/src/xmlrpc_server.pc
/lib/xmlrpc-c/src/xmlrpc_server_abyss.o
/lib/xmlrpc-c/src/xmlrpc_server_abyss.osh
/lib/xmlrpc-c/src/xmlrpc_server_abyss.pc
/lib/xmlrpc-c/src/xmlrpc_server_cgi.o
/lib/xmlrpc-c/src/xmlrpc_server_cgi.osh
/lib/xmlrpc-c/src/xmlrpc_server_cgi.pc
/lib/xmlrpc-c/src/xmlrpc_server_info.o
/lib/xmlrpc-c/src/xmlrpc_server_info.osh
/lib/xmlrpc-c/src/xmlrpc_string.o
/lib/xmlrpc-c/src/xmlrpc_string.osh
/lib/xmlrpc-c/src/xmlrpc_struct.o
/lib/xmlrpc-c/src/xmlrpc_struct.osh
/lib/xmlrpc-c/srcdir.mk
/lib/xmlrpc-c/transport_config.h
/lib/xmlrpc-c/version.h
/lib/xmlrpc-c/xmlrpc-c-config
/lib/xmlrpc-c/xmlrpc-c-config.test
/lib/xmlrpc-c/xmlrpc_config.h
